.navbar {
    grid-area: 1 / 1 / span 1 / span 4;
    position: fixed;
    width: 100%;
    border: 2px rgb(240, 244, 247) solid;
    background-color: #0c1529;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-weight: bold;
    color: rgb(240, 244, 247);
    z-index: 400;
    
}

.navbar_links {
    display: flex;
    padding: 0 5px;
    text-align: center;
    align-items: center;
    justify-content: center; 
}

img {  
    max-width: 5%;
    max-height: 5%;
    color: rgb(240, 244, 247);
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 5px;
  }

.spacer {
    flex: 1;
}

.navbar_items {
    color: rgb(240, 244, 247);
    text-decoration: none;
}

.navbar_items ul {
list-style: none;
display: inline;
margin: 0;
padding: 0;
}

.navbar_items li {
    padding: 0 5px;
    display: inline;   
}

.navbar_items a:hover,
.navbar_items a:active {
 color:rgb(54, 58, 61);
}

@media (max-width: 760px){
    .navbar_items{
        display:none;
    }
}

@media (min-width: 760px){
    .navbar_toggle{
        display:none;
    }
}
